*{
    box-sizing: border-box;
    text-align: center;
}

html,body{
    height: 100%;
    margin: 0;
}

body{
    display: block;
    background-color: white;
    background-image: url("../images/herringbone.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}

header{
    font-family: 'Georgia', Times, Times New Roman, serif;
    display: block;
    background-color: #4aaaa5;
    padding: 20px;
    color: white;
    width: 25%;
    float: left;
}

nav{
    display: block;
    padding: 20px;
    margin-left: 20px;
    float: right;
}

a{
    clear: both;
    text-decoration: none;
    color: #777777;
    padding: 5px;
}

#menu2{
    border-right: solid 1px #777777;
    border-left: solid 1px #777777;

}

section{
    clear: both;
    float: left;
    width: 100%;
    padding: 20px;
}

h1{
    color: #4aaaa5;
    text-align: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    
}

article{
    border-top: solid 1px #777777;
    text-align: left;
    padding-top: 10px;
}

form, label, input{
    float: left;
    text-align: left;
    }
label{
    padding-top: 10px;
}
input[type=submit]{
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #4aaaa5;
    border: none;
    color: white;

}

.gallery{
    float: left;
    position: absolute;
}

p{
    text-align: left;
}

footer{
    /*display: block;*/
    background-color: #666666;
    border-top: solid 8px #4aaaa5;
    padding: 20px;
    padding-bottom: 0px;
}

.wrapper{
    margin: auto;
    width: 960px;
    min-height: 100%;
    margin-bottom: -50px;
}
.wrapper2{
    display: block;
    background-color: black;
}

.footer,
.push {
  height: 50px;
}