*{
    box-sizing: border-box;
    text-align: center;
}

html,body{
    height: 100%;
    margin: 0;
}

body{
    display: block;
    background-color: white;
    background-image: url("../images/herringbone.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}

header{
    font-family: 'Georgia', Times, Times New Roman, serif;
    display: block;
    background-color: #4aaaa5;
    padding: 20px;
    color: white;
    width: 25%;
    /* float: left; */
}

nav{
    display: block;
    padding: 20px;
    margin-left: 20px;
    /* float: right; */
}

a{
    clear: both;
    text-decoration: none;
    color: #777777;
    padding: 5px;
}

#menu2{
    border-right: solid 1px #777777;
    border-left: solid 1px #777777;

}

section{
    clear: both;
    float: left;
    width: 100%;
    padding: 20px;
}

h1{
    color: #4aaaa5;
    text-align: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    
}

article{
    border-top: solid 1px #777777;
    text-align: left;
    padding-top: 10px;
}

form, label, input{
    float: left;
    text-align: left;
    width: 100%;
    }
label{
    padding-top: 10px;
}
input[type=submit]{
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #4aaaa5;
    border: none;
    color: white;
    width: 75px;

}

.gallery{
    /* float: left;
    position: absolute;*/
    position: relative;
    display: flex;
    flex-wrap: wrap;
}  

p{
    text-align: left;
}

footer{
    /*display: block;*/
    background-color: #666666;
    border-top: solid 8px #4aaaa5;
    padding: 20px;
    padding-bottom: 0px;
}

.wrapper{
    margin: auto;
    width: 100%;
    /* width: 960px; */
    min-height: 100%;
    margin-bottom: -50px;
}
.wrapper2{
    display: flex;
    justify-content: center; 
    /* background-color: white; */
    /* border-bottom: solid 1px #777777; */
    width: 100%;
}

.wrapper3{
    display: flex;
    justify-content: space-between;
    width: 960px;
    
}
.wrapper4{
    display: flex;
    width: 960px;
    background-color: white;
    flex-direction: column;
    min-height: 500px;
    padding: 20px;
}

.text-block {
    position: absolute;
    bottom: 20px;
    text-align: center;
    font-size: 12px;
    background-color:#4aaaa5;
    color: white;
    padding: 10px;
    width:150px;
  }

textarea{
    text-align: left;
    width: 100%;
    height: 225px;
}

#white{
    background-color: white;
}

.footer,
.push {
  height: 50px;
}